{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gladiator 2000</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gladiator.css' %}">
    <script src="{% static 'javascript/movieman_search.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
               <nav class="navbar navbar-dark bg-black">
                    <img src="https://i.ibb.co/0mh92cm/logo1.png" alt="" class="img1">
                    <h1>Movie Man</h1>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="text" id="text" placeholder="Search Movies Here" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" onclick="search()" type="submit">Search</button>
                      &nbsp;&nbsp;&nbsp;<a href="{% url 'home' %}" style="text-decoration: none; color: white;">Back</a>
                    </form>
                </nav><br>
                <hr color="white">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-lg-6">
                        <h2>gladiator</h2>
                        <h5>2000</h5>
                        <h5>Action - Drama</h5><br><br>
                        <img src="https://i.ibb.co/18LR7vY/gladiator.jpg" class="img2" alt="">

                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <a href="https://www.imdb.com/title/tt0172495/" target="blank" rel="noreferer noopener"><h2><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" class="img3" alt=""></a>&nbsp; 8.5</h2><br> 
                        <a href="https://yts-mx.pro/movie/gladiator-2000/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">2160p.BLURAY</button></a><br><br>
                        <a href="https://yts-mx.pro/movie/gladiator-2000/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">1080p.BLURAY</button></a><br><br>
                        <a href="https://yts-mx.pro/movie/gladiator-2000/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">720p.BLURAY</button></a><br><br>
                        <a href="https://www.primevideo.com/detail/Gladiator/0I9W28WNYJE1W14IIK4D3UP4M3" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Watch Online</button></a><br><br>
                        <a href="https://yify-subs.net/subtitles/gladiator-2000-english-yify-136749" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Download Subtitles</button></a>
                    </div>
                    <div class="col-xs-12 col-lg-12"><br><br>
                        <h1>Synopsis</h1>
                        <p>Maximus is a powerful Roman general, loved by the people and the aging Emperor, Marcus Aurelius. Before his death, the Emperor chooses Maximus to be his heir over his own son, Commodus, and a power struggle leaves Maximus and his family condemned to death. The powerful general is unable to save his family, and his loss of will allows him to get captured and put into the Gladiator games until he dies. The only desire that fuels him now is the chance to rise to the top so that he will be able to look into the eyes of the man who will feel his revenge.</p>
                        <p>Director : Ridley Scott</p>
                        <p>Writers : David Franzoni(story), John Logan(screenplay), William Nicholson(screenplay)</p>
                        <p>Stars : Russell Crowe, Joaquin Phoenix, Connie Nielsen</p>
                    </div>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <iframe width="340" height="315" src="https://www.youtube.com/embed/P5ieIbInFpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br><br><br><br>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <h1>Cast</h1>
                        <div class="col-xs-12 col-lg-12">
                            <a href="https://www.imdb.com/name/nm0000128/?ref_=tt_cl_t_1"><img src="https://i.ibb.co/n39mPHy/Russell-Crowe.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Russell Crowe</h2><label style="color: ghostwhite">as Maximus</label><br>
                            <a href="https://www.imdb.com/name/nm0001618/?ref_=tt_cl_t_2"><img src="https://i.ibb.co/YBpmp2B/Joaquin-Phoenix.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Joaquin Phoenix</h2><label style="color: ghostwhite">as Commodus</label><br>
                            <a href="https://www.imdb.com/name/nm0001567/?ref_=tt_cl_t_3"><img src="https://i.ibb.co/T1b6Frc/Connie-Nielsen.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Connie Nielsen</h2><label style="color: ghostwhite">as Lucilla</label><br>
                            <a href="https://www.imdb.com/name/nm0005023/?ref_=tt_cl_t_7"><img src="https://i.ibb.co/qCbtTZw/Djimon-Hounsou.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Djimon Hounsou</h2><label style="color: ghostwhite">as Juba</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <a href="#top"><img src="https://i.ibb.co/qpGT425/top.png" width="90px"></a>
    </div>
        <div class="container1">
            <div class="row">
            <div class="col-xs-12 col-lg-12" style="color:white; background-color: darkslategrey; padding-top: 20px;">
                <center><label>Ⓒ Movie Man @ 2021-2022</label><br>
               <label>Copyright © All Right Reserved</label>&nbsp;|&nbsp;<a href="https://www.instagram.com/codemaster8848/" style="text-decoration: none; color: white;"><label>Developed By : Arun Pacheeri</label></a></center><br>
            </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>