{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logan 2017</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/logan.css' %}">
    <script src="{% static 'javascript/movieman_search.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
               <nav class="navbar navbar-dark bg-black">
                    <img src="https://i.ibb.co/0mh92cm/logo1.png" alt="" class="img1">
                    <h1>Movie Man</h1>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="text" id="text" placeholder="Search Movies Here" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" onclick="search()" type="submit">Search</button>
                      &nbsp;&nbsp;&nbsp;<a href="{% url 'home' %}" style="text-decoration: none; color: white;">Back</a>
                    </form>
                </nav><br>
                <hr color="white">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-lg-6">
                        <h2>Logan</h2>
                        <h5>2017</h5>
                        <h5>Action - Adventure</h5><br><br>
                        <img src="https://i.ibb.co/5vnqjBL/logan.jpg" class="img2" alt="">

                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <a href="https://www.imdb.com/title/tt3315342/" target="blank" rel="noreferer noopener"><h2><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" class="img3" alt=""></a>&nbsp; 8.1</h2><br> 
                        <a href="https://ww1.ytsyify.fun/movie/logan-2017-extratorrent903/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">2160p.BLURAY</button></a><br><br>
                        <a href="https://ww1.ytsyify.fun/movie/logan-2017-extratorrent903/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">1080p.BLURAY</button></a><br><br>
                        <a href="https://ww1.ytsyify.fun/movie/logan-2017-extratorrent903/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">720p.BLURAY</button></a><br><br>
                        <a href="https://www.primevideo.com/detail/Logan/0HG4TJTSVFPM8UUIDSFB0IJWVV" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Watch Online</button></a><br><br>
                        <a href="https://yifysubtitles.org/movie-imdb/tt3315342" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Download Subtitles</button></a>
                    </div>
                    <div class="col-xs-12 col-lg-12"><br><br>
                        <h1>Synopsis</h1>
                        <p>In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.</p>
                        <p>Director : James Mangold</p>
                        <p>Writers : James Mangold(story by), Scott Frank(screenplay by), Michael Green(screenplay by)</p>
                        <p>Stars : Hugh Jackman, Patrick Stewart, Dafne Keen</p>
                    </div>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <iframe width="340" height="315" src="https://www.youtube.com/embed/RH3OxVFvTeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br><br><br><br>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <h1>Cast</h1>
                        <div class="col-xs-12 col-lg-12">
                            <a href="https://www.imdb.com/name/nm0413168/?ref_=tt_cl_t_1"><img src="https://i.ibb.co/JHhvDCJ/Hugh-Jackman.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Hugh Jackman</h2><label style="color: ghostwhite">as Logan</label><br>
                            <a href="https://www.imdb.com/name/nm0001772/?ref_=tt_cl_t_2"><img src="https://i.ibb.co/KhyFtGM/Patrick-Stewart.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Patrick Stewart</h2><label style="color: ghostwhite">as Charles</label><br>
                            <a href="https://www.imdb.com/name/nm6748436/?ref_=tt_cl_t_3"><img src="https://i.ibb.co/n18Y4GP/Dafne-Keen.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Dafne Keen</h2><label style="color: ghostwhite">as Laura</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <a href="#top"><img src="https://i.ibb.co/qpGT425/top.png" width="90px"></a>
    </div>
        <div class="container1">
            <div class="row">
            <div class="col-xs-12 col-lg-12" style="color:white; background-color: darkslategrey; padding-top: 20px;">
                <center><label>Ⓒ Movie Man @ 2021-2022</label><br>
               <label>Copyright © All Right Reserved</label>&nbsp;|&nbsp;<a href="https://www.instagram.com/codemaster8848/" style="text-decoration: none; color: white;"><label>Developed By : Arun Pacheeri</label></a></center><br>
            </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>