{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Man Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   <style>
    .container-fluid{
        background-color: black;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 10px;
    }
  .img1{
        width: 250px;
        height: 150px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
  
    h1{
        color:white;
        font-size: 70px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
   
    .img2{
        width:300px;
        height:400px;
        border: 10px solid white;
        border-radius: 10px;
     
    }
  
    h2{
        color: white;
        font-weight: bolder;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    p{
        color: grey;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }
  
    .img2:hover{
        border: 10px solid blue;
        border-radius: 10px;
    
    }
</style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
               <nav class="navbar navbar-dark bg-black">
                    <img src="{% static 'images/logo1.png' %}" alt="" class="img1">
                    <h1>Movie Man</h1>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search Movies Here" aria-label="Search" id="text">
                      <button class="btn btn-outline-success my-2 my-sm-0" onclick="search()" type="submit">Search</button>
                    </form>
                </nav>
                <hr color="white">
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/thegodfather.html' %}"><img src="{% static 'images/thegodfather.jpg' %}" alt="" class="img2"></a>
                <h2>The GodFather</h2>
                <p>1972</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/thedarkknight.html' %}"><img src="{% static 'images/darknight.jpg' %}" alt="" class="img2"></a>
                <h2>The Dark Knight</h2>
                <p>2008</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/inception.html' %}"><img src="{% static 'images/inception.jpg' %}" alt="" class="img2"></a>
                <h2>Inception</h2>
                <p>2010</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/seven.html' %}"><img src="{% static 'images/seven.jpg' %}" alt="" class="img2"></a>
                <h2>Seven</h2>
                <p>1995</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/interstellar.html' %}"><img src="{% static 'images/interstellar.jpg' %}" alt="" class="img2"></a>
                <h2>Interstellar</h2>
                <p>2014</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/gladiator.html' %}"><img src="{% static 'images/gladiator.jpg' %}" alt="" class="img2"></a>
                <h2>Gladiator</h2>
                <p>2000</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/memento.html' %}"><img src="{% static 'images/memento.jpg' %}" alt="" class="img2"></a>
                <h2>Memento</h2>
                <p>2000</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/joker.html' %}"><img src="{% static 'images/joker.jpg' %}" alt="" class="img2"></a>
                <h2>Joker</h2>
                <p>2019</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/1917.html' %}"><img src="{% static 'images/1917.jpg' %}" alt="" class="img2"></a>
                <h2>1917</h2>
                <p>2019</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/gandhi.html' %}"><img src="{% static 'images/gandhi.jpg' %}" alt="" class="img2"></a>
                <h2>Gandhi</h2>
                <p>1982</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/logan.html' %}"><img src="{% static 'images/logan.jpg' %}" alt="" class="img2"></a>
                <h2>Logan</h2>
                <p>2017</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/hacksawridge.html' %}"><img src="{% static 'images/hacksaw.jpg' %}" alt="" class="img2"></a>
                <h2>Hacksaw Ridge</h2>
                <p>2016</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/thepursuitofhappyness.html' %}"><img src="{% static 'images/pursuit.jpg' %}" alt="" class="img2"></a>
                <h2>The Pursuit Of Happyness</h2>
                <p>2006</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/revenant.html' %}"><img src="{% static 'images/revenant.jpg' %}" alt="" class="img2"></a>
                <h2>The Revenant</h2>
                <p>2015</p>
            </div>
            <div class="col-xs-4 col-lg-4" style="padding-left:30px; padding-top: 20px;">
                <a href="{% static 'html/sanandreas.html' %}"><img src="{% static 'images/San Andreas.jpg' %}" alt="" class="img2"></a>
                <h2>San Andreas</h2>
                <p>2015</p>
            </div>
            <br><br><br><br><br><br><br><br><br>
            
            <div class="col-xs-12 col-lg-12" style="color:white; background-color: darkslategrey; padding-top: 20px;">
                <center><label>Ⓒ Movie Man @ 2021-2022</label><br>
                <label>Copyright © All Right Reserved</label>&nbsp;|&nbsp;<label>Designed By : Arun Pacheeri</label></center><br>
              </div>

        </div>
    </div>
           
     <script>
         function search(){
            var search = document.getElementById('text')
            if(search.value == ""){
                document.getElementById(alert("Please Enter The Movie Name In Small Letter"))
            }
             if(search.value=="the godfather"){
                 window.open("https://arun955.w3spaces.com/thegodfather.html")
                 return true
             }
             if(search.value=="the dark knight"){
                 window.open("https://arun955.w3spaces.com/thedarkknight.html")
                 return true
             }
             if(search.value=="inception"){
                 window.open("https://arun955.w3spaces.com/inception.html")
             }
             if(search.value=="seven"){
                 window.open("https://arun955.w3spaces.com/seven.html")
                 return true
             }
             if(search.value=="interstellar"){
                 window.open("https://arun955.w3spaces.com/interstellar.html")
                 return true
             }
             if(search.value=="gladiator"){
                 window.open("https://arun955.w3spaces.com/gladiator.html")
             }
             if(search.value=="memento"){
                 window.open("https://arun955.w3spaces.com/memento.html")
                 return true
             }
             if(search.value=="joker"){
                 window.open("https://arun955.w3spaces.com/joker.html")
                 return true
             }
             if(search.value=="1917"){
                 window.open("https://arun955.w3spaces.com/1917.html")
             }
             if(search.value=="gandhi"){
                 window.open("https://arun955.w3spaces.com/gandhi.html")
                 return true
             }
             if(search.value=="logan"){
                 window.open("https://arun955.w3spaces.com/logan.html")
                 return true
             }
             if(search.value=="hacksaw ridge"){
                 window.open("https://arun955.w3spaces.com/hacksawridge.html")
             }
             if(search.value=="the pursuit of happyness"){
                 window.open("https://arun955.w3spaces.com/thepursuitofhappyness.html")
                 return true
             }
             if(search.value=="the revenant"){
                 window.open("https://arun955.w3spaces.com/revenant.html")
                 return true
             }
             if(search.value=="san andreas"){
                 window.open("https://arun955.w3spaces.com/sanandreas.html")
             }
             else{
                document.getElementById(alert('Please Enter A Valid Movie Name'))
                 return false
             }
    
             
         }
     </script>   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>