{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pursuit Of Happyness 2006</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/pursuit.css' %}">
    <script src="{% static 'javascript/movieman_search.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
               <nav class="navbar navbar-dark bg-black">
                    <img src="https://i.ibb.co/0mh92cm/logo1.png" alt="" class="img1">
                    <h1>Movie Man</h1>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="text" id="text" placeholder="Search Movies Here" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" onclick="search()" type="submit">Search</button>
                      &nbsp;&nbsp;&nbsp;<a href="{% url 'home' %}" style="text-decoration: none; color: white;">Back</a>
                    </form>
                </nav><br>
                <hr color="white">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-lg-6">
                        <h2>The Pursuit Of Happyness</h2>
                        <h5>2006</h5>
                        <h5>Drama</h5><br><br>
                        <img src="https://i.ibb.co/HqGp4cB/pursuit.jpg" class="img2" alt="">

                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <a href="https://www.imdb.com/title/tt0454921/" target="blank" rel="noreferer noopener"><h2><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" class="img3" alt=""></a>&nbsp; 8</h2><br> 
                        <a href="https://ww1.yifymx.com/movie/the-pursuit-of-happyness-2006-rangetorrent417/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">2160p.BLURAY</button></a><br><br>
                        <a href="https://ww1.yifymx.com/movie/the-pursuit-of-happyness-2006-rangetorrent417/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">1080p.BLURAY</button></a><br><br>
                        <a href="https://ww1.yifymx.com/movie/the-pursuit-of-happyness-2006-rangetorrent417/" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">720p.BLURAY</button></a><br><br>
                        <a href="https://www.primevideo.com/detail/The-Pursuit-of-Happyness/0MNLBAV7JLZMBLQSL8P5TR0L8B" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Watch Online</button></a><br><br>
                        <a href="https://yifysubtitles.org/movie-imdb/tt0454921" target="blank" rel="noreferer noopener"><button type="button" class="btn btn-success" style="width:150px;">Download Subtitles</button></a>
                    </div>
                    <div class="col-xs-12 col-lg-12"><br><br>
                        <h1>Synopsis</h1>
                        <p>Based on a true story about a man named Christopher Gardner. Gardner has invested heavily in a device known as a "bone density scanner". He feels like he has it made selling these devices. However, they do not sell well as they are marginally better than x-ray at a much higher price. As Gardner works to make ends meet, his wife leaves him and he loses his apartment. Forced to live out in the streets with his son, Gardner continues to sell bone density scanners while concurrently taking on an unpaid internship as a stockbroker, with slim chances for advancement to a paid position. Before he can receive pay, he needs to outshine the competition through 6 months of training, and to sell his devices to stay afloat.</p>
                        <p>Director : Gabriele Muccino</p>
                        <p>Writers : Steve Conrad</p>
                        <p>Stars : Will Smith, Thandiwe Newton, Jaden Smith</p>
                    </div>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <iframe width="340" height="315" src="https://www.youtube.com/embed/DMOBlEcRuw8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br><br><br><br>
                    <div class="col-xs-12 col-lg-12" style="margin-top: 50px;">
                        <h1>Cast</h1>
                        <div class="col-xs-12 col-lg-12">
                            <a href="https://www.imdb.com/name/nm0000226/?ref_=tt_cl_t_1"><img src="https://i.ibb.co/JsgYR29/will-Smith.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Will Smith</h2><label style="color: ghostwhite">as Chris Gardner</label><br>
                            <a href="https://www.imdb.com/name/nm0628601/?ref_=tt_cl_t_2"><img src="https://i.ibb.co/1LFRZgq/Thandie-Newton.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Thandiwe Newton</h2><label style="color: ghostwhite">as Linda</label><br>
                            <a href="https://www.imdb.com/name/nm1535523/?ref_=tt_cl_t_3"><img src="https://i.ibb.co/NyJ3N67/Jaden-Smith.jpg" class="icon" style="margin-top: 50px;"></a>
                            <h2 style="margin-top:10px;">Jaden Smith</h2><label style="color: ghostwhite">as Christopher</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <a href="#top"><img src="https://i.ibb.co/qpGT425/top.png" width="90px"></a>
    </div>
        <div class="container1">
            <div class="row">
            <div class="col-xs-12 col-lg-12" style="color:white; background-color: darkslategrey; padding-top: 20px;">
                <center><label>Ⓒ Movie Man @ 2021-2022</label><br>
               <label>Copyright © All Right Reserved</label>&nbsp;|&nbsp;<label>Designed By : Arun Pacheeri</label></center><br>
            </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>